<%- include("partials/_header") %>

<div class="wrapper">
    <%- include("components/title", {msg: "Selectionnez un examen"}) %>
    <main class="main">
        <div class="section-search">
            <input type="text" name="search" id="search-box" class="search-box" placeholder="Rechercher une epreuve">
            <button class="search-btn">
                <img src="/ico/search.svg" alt="Search icon" srcset="">
            </button>
        </div>
        <div class="section-content">
            <ul class="sessions-list list">

                <% if (typeof exams !== "undefined" && exams.length > 0) { %>

                    <% exams.forEach(exam => { %>
                    <a href="/exam/<%= exam.id %>" class="exam-link exam-item list-item">
                        <li class="">
                            <%= exam.title %>
                        </li>
                    </a>
                    <% }) %>

                <% } else { %>
                    <li class="no-exams list-item disabled">No sessions found.</li>
                <% } %>
                                
            </ul>
        </div>
    </main>
</div>

<%- include("partials/_footer") %>